body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(249, 245, 245);
  font-size: 15px;
  background-image: url(images/background.jpg);
  background-position: center;
  background-attachment: fixed;
  padding-top: 60px;
}

h1 {
  background: rgba(8, 8, 8, 0.5);
  padding: 20px;
  border-radius: 50px;
  width: 80%;
  margin: auto;
  text-align: center;
}

h2 {
  background: rgba(8, 8, 8, 0.5);
  padding: 20px;
  border-radius: 50px;
  width: 80%;
  margin: auto;
  text-align: center;
}

 #contactForm {
  background: rgba(8, 8, 8, 0.5);
  border-radius: 50px;
  width: 70%;
  margin: auto;
  text-align: center;
 }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #5db2f8;
  padding: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #f0f0f0;
  margin: 0 5px;
  border-radius: 5px;
  color: #050505;
  display: inline-block;
}

nav a:hover {
  background-color: #0596cb;
}

nav a:active {
  background-color: #0d769c;
}

nav a.active {
  background-color: #007bff;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid #0e0d0d;
  padding: 10px;
}

th {
  background-color: #05628d;
}

input, textarea {
  width: 70%;
  padding: 8px;
  margin-top: 30px;
}

button {
  margin: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

img {
  display: block;
  margin: 10px auto;
  max-width: 80%;
}

iframe {
  display: block;
  margin: 10px auto;
  width: 560px; 
  height: 315px;
  border: 0px;
}

#searchInput {
  display: block;
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
